body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1976d2;
}
